<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="/css/style.css" rel="stylesheet">
  <title> Upload from QR </title>
</head>
<body>
  <h1 id = "qrCode">From QR</h1>

  <form action="/upload/" method="POST" enctype="multipart/form-data">
    <input type="file" name="image"/>
    <button type="submit" value = "submit">Upload</button>
  </form>
</html>
